node_modules
coverage
dist
.idea
.DS_Store
.nyc_output
.tox
.pytest_cache
*.iml
android/app/src/main/assets
ios/drip-ios/assets/ios.js
ios/drip-ios/assets/vendor.js
ios/drip-ios.xcodeproj/project.xcworkspace/xcuserdata/*
ios/drip-ios.xcodeproj/xcuserdata/*
test/integration/downloads
